body {
    overflow: hidden;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    background-color: white;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
}

#sidebar {
    width: 400px;
    /* min-width: 300px; */
    height: 100vh;
    background-color: white;
    transition: .1s ease;
    padding: 20px 15px;
}

.expand-sidebar {
    width: 102px !important;
}

.expand-sidebar .profile p, .expand-sidebar .menu-list .list span {
    display: none;
}

.expand-sidebar .profile {
    padding: 10px !important;
}

.expand-sidebar .menu-list .list i {
    margin-right: 0 !important;
}

.expand-sidebar .menu-list .list {
    padding: 20px !important;
    /* display: flex;
    justify-content: center; */
}

.expand-sidebar .profile, .expand-sidebar .menu-list .list {
    /* display: block !important; */
    justify-content: center;
    /* display: inline-block; */
}

#sidebar .menu-list .logout {
    margin-top: auto;
}

#sidebar .menu-list {
    height: 82vh;
    /* background-color: gainsboro; */
    display: flex;
    flex-direction: column;
}

.expand-sidebar .profile .pic {
    margin-right: 0 !important;
}






#sidebar .profile {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
}

#sidebar .profile .pic {
    width: 52px;
    height: 52px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 20px;
}

#sidebar .profile .pic img {
    width: 100%;
    height: 100%;
}

#sidebar .menu-list {
    margin-top: 40px;
}

#sidebar .menu-list .list {
    list-style: none;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    /* transition: 0.1s linear; */
}

#sidebar .menu-list .list i {
    opacity: 0.3;
    font-size: 1.3rem;
    margin-right: 15px;
}

#sidebar .menu-list .list:hover {
    background-color: rgba(71, 181, 255, 0.1);
    color: var(--primary-color);
}

#sidebar .menu-list .list:hover i {
    opacity: 1  ;
}







#content {
    width: 100%;
    height: 100vh;
    background: url(../img/content-bg.jpg) no-repeat;
    background-size: cover;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(247, 247, 178); */
}

.navbar {
    /* padding: 0px 60px; */
    display: flex;
    align-items: center;
}

.navbar .bar-icon {
    padding: 14px;
    margin-right: 30px;
}

.navbar .bar-icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar .fa-bars-staggered {
    color: white;
    font-weight: bold;   
    font-size: 1.7rem;
}

.navbar .time, .date {
    font-size: 2.1rem;
    font-weight: 200;
    color: white;
    margin: 0 15px;
}

.navbar .date {
    position: relative;
}

.navbar .date::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50px;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.searchbox {
    margin-left: auto;
    position: relative;
}

.searchbox input {
    width: 400px;
    border: none;
    border-radius: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

.searchbox input:focus {
    outline: 2px solid white;
}

.searchbox .search-icon {
    padding: 12px;
    border-radius: 50px;
    color: rgb(32, 32, 32);
    position: absolute;
    right: 7px;
    top: 4px;
}

.navbar .search-icon:hover {
    background-color: var(--primary-color);
    color: white;
}

/*///////////////////// task //////////////////////////////////*/

.task-title {
    display: flex;
    margin: 40px 0 20px 0;
    color: white;
}

.task-container {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 14px 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.task-container .task-bar {
    width: 100%;
    margin: 0 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.task-container .task-bar .task-bar-header {
    background-color: #5F5F5F;
    display: flex;
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 8px 24px;
}

.task-container .task-bar .task-bar-header span {
    font-weight: 500;
}

.task-container .task-bar .task-bar-header div {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 2px 8px;
    font-size: 0.8rem;
}

.task-container .task-bar .task-bar-body {
    background-color: rgba(95, 95, 95, 0.15);
    height: 100%;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.task-container .task-bar .task-bar-body .task-bar-add {
    width: 100%;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.task-container .task-bar .task-bar-body .task-bar-add:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.task-container .task-bar .task-bar-body .task-bar-holder{
    width: 100%;
    height: 63vh;
    overflow: auto;
    margin-top: 10px;
    padding: 5px 5px;
}

.task-container .task-bar .task-bar-body .task-bar-item{
    background-color: white;
    border-radius: 5px;
    padding: 12px;
    margin: 10px 0;
}

.task-container .task-bar .task-bar-body .task-bar-item:last-child, .task-container .task-bar .task-bar-body .task-bar-item:first-child {
    margin: 0 0 !important;
}

.task-bar-item .task-bar-item-subject {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.task-bar-item .task-bar-item-subject .fa-grip {
    font-size: 1.3rem;
    opacity: 0.5;
}

.task-bar-item .task-bar-item-subject .fa-up-right-from-square{
    color: var(--primary-color);
    display: none;
}

.task-bar-item .task-bar-item-subject .subject {
    font-size: 1rem;
    font-weight: 600;
    margin: 0 8px 0 14px;
    cursor: pointer;
}

.task-bar-item .task-bar-item-subject .subject:hover .task-bar-item .task-bar-item-subject .fa-up-right-from-square{
    display: block !important;
}

.task-bar-item .task-bar-item-body{
    font-size: 0.8rem;
    background-color: rgba(95, 95, 95, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.task-bar-item .task-bar-item-date {
    display: flex;
    padding: 10px 0 0 0;
}

.task-bar-item .task-bar-item-date span{
    font-size: 0.8rem;
    opacity: 0.5;
}

.task-bar-item .task-bar-item-date .update-date {
    margin-left: auto;
    margin-right: 20px;
}

.task-bar-item .task-bar-item-date .update-time {
    position: relative;
}

.task-bar-item .task-bar-item-date .update-time::before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: black;
    position: absolute;
    border-radius: 25px;
    top: 50%;
    left: -13px;
    transform: translateY(-50%);
}


/* inporgress theme */

.inprogress-theme .task-bar-header {
    background-color: var(--primary-color) !important;
}

.inprogress-theme .task-bar-item-subject .fa-grip{
    color: var(--primary-color);
}

.inprogress-theme .task-bar-item-body{
    background-color: rgba(71, 181, 255, 0.1);
}




/* compeleted theme */

.done-theme .task-bar-header {
    background-color: #2EB100 !important;
}

.done-theme .task-bar-item-subject .fa-grip{
    color: #2EB100  ;
}

.done-theme .task-bar-item-body{
    background-color: rgba(46, 177, 0, 0.1);
}



/* sweet alert style here  */

.sweet-alert-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.sweet-alert-container .sweet-alert{
    background-color: white;
    border-radius: 10px;
    /* width: 444px; */
    width: 30vw;
    /* margin-bottom: 200px; */
    opacity: 0;
}

.sweet-alert-container .sweet-alert .sweet-body {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sweet-alert-container .sweet-alert .sweet-body i {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.sweet-alert-container .sweet-alert .sweet-body p {
    font-size: 1.1rem;
    font-weight: 600;
}

.sweet-alert-container .sweet-alert .sweet-cta {
    display: flex;
    padding: 19px 24px;
    background-color: rgba(71, 181, 255, 0.1);
}

.sweet-alert-container .sweet-alert .sweet-cta .g-btn-tertiary {
    margin-left: auto;
    margin-right: 10px;
}

.sweet-alert-container .sweet-alert .sweet-cta .g-btn-tertiary:hover {
    background-color: rgba(71, 181, 255, 0.2);
}







/* scroll bar style */

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-left: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}